body{
    display: grid;
    height: 100%;
    grid-template-rows: 100px 1fr 100px;
}
html{
    height: 100%;
    background-color: blueviolet;
}

/*=========================================*/
.container{
    max-width: 1140px;
    
}
.header__p{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(61, 19, 100);
}
.footer__p{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(61, 19, 100);
}
/*================catalog=========================*/
.catalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin:0 auto;
}
.img__item{
    border: 1px solid black;
    border-radius: 5%;
    width: 240px;
}
.catalog__item__text{
    color: rgb(61, 19, 100);
    font-size: 20px;
    margin-left: 20px;
    margin-left: 0;
    margin-top: 6px;
}

/*================gallery=========================*/
.gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 30px;
}
.gallery__logo{
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.svg__logo{
    height: 80px;
    width: 80px;
}
.gallery__img1{
    grid-column: 4/9;
    grid-row: 1/2;
    background-image: url('../img/harold.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery__img2{
    grid-column: 9/13;
    grid-row: 1/2;
    background-image: url('../img/harold2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery__img3{
    grid-column: 1/8;
    grid-row: 2/4;
    background-image: url('../img/harold3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery__img4{
    grid-column: 8/13;
    grid-row: 2/3;
    background-image: url('../img/harold4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery__img6{
    grid-column: 8/13;
    grid-row: 3/4;
    background-image: url('../img/harold6.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
/*================gallery1=========================*/
.gallery1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 300px);

    grid-template-areas: 
    "l l l l l l i1 i1 i1 i1 i1 i1"
    "i2 i2 i2 i2 i2 i2 i2 i2 i3 i3 i3 i3"
    "i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4"
    "i5 i5 i5 i5 i5 i5 i5 i5 i5 i5 i5 i5"
    ;

    grid-gap: 30px;
    /*padding: 20px;*/
    margin-top: 50px;
}
.gallery1__logo1{
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.harold__logo{
    font-size: 30px;
}
.gallery1__img1{
    grid-area: i3;
    background-image: url('../img/harold.jpg');
    border-radius: 2%;
    border: rgb(45, 14, 75) 2px solid;
    /*
    background-size: cover;
    background-position: center;
    */
}  
.gallery1__img1:hover{
    grid-area: i3;
    background-image: url('../img/harold.jpg');

    background-size: cover;
    background-position: center;
    
    border-radius: 100%;
    border: rgb(45, 14, 75) 2px solid;
    
    transition-duration: 4s;
}  
.gallery1__img2{
    grid-area: i1;
    background-image: url('../img/harold2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;

}
.gallery1__img3{
    grid-area: i2;
    background-image: url('../img/harold3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery1__img4{
    grid-area: i4;
    background-image: url('../img/harold4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}
.gallery1__img6{
    grid-area: i5;
    background-image: url('../img/harold5.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: rgb(45, 14, 75) 2px solid;
}            
/*===================media======================*/
@media(max-width:1125px){
    .catalog{       
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:856px){
    .catalog{       
        grid-template-columns: 1fr 1fr;
    }
}
/*================gallery=====================*/
@media(max-width: 765px){
    .gallery{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-gap: 30px;
    }
    .gallery__logo{
        grid-column-start: 1;
        grid-column-end: 13;
    
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;
        align-content: center;
    }
    .gallery__img1{
        grid-column: 1/7;
        grid-row: 2/3;
        background-image: url('../img/harold.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery__img2{
        grid-column: 7/13;
        grid-row: 2/3;
        background-image: url('../img/harold2.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery__img3{
        grid-column: 1/13;
        grid-row: 3/5;
        background-image: url('../img/harold3.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 2%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery__img4{
        grid-column: 1/7;
        grid-row: 5/5;
        background-image: url('../img/harold4.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery__img6{
        grid-column: 7/13;
        grid-row: 5/6;
        background-image: url('../img/harold6.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    /*===============gallery1==========765px============*/
    .gallery1{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 300px);
    
        grid-template-areas: 
        "l l l l l l l l l l l l"
        "i1 i1 i1 i1 i1 i1 i4 i4 i4 i4 i4 i4"
        "i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3"
        "i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3"
        "i2 i2 i2 i2 i2 i2 i5 i5 i5 i5 i5 i5"
        ;
    
        grid-gap: 30px;
        padding: 20px;
    }
    .gallery1__logo1{
        grid-area: l;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery1__img1{
        grid-area: i3;
        background-image: url('../img/harold.jpg');
        border-radius: 2%;
        border: rgb(45, 14, 75) 2px solid;
        /*
        background-size: cover;
        background-position: center;
        */
    }  
    .gallery1__img1:hover{
        grid-area: i3;
        background-image: url('../img/harold.jpg');
    
        background-size: cover;
        background-position: center;
        
        border-radius: 80%;
        border: rgb(45, 14, 75) 2px solid;
        
        transition-duration: 4s;
        
    }  
    .gallery1__img2{
        grid-area: i1;
        background-image: url('../img/harold2.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    
    }
    .gallery1__img3{
        grid-area: i2;
        background-image: url('../img/harold3.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery1__img4{
        grid-area: i4;
        background-image: url('../img/harold4.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    }
    .gallery1__img6{
        grid-area: i5;
        background-image: url('../img/harold5.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        border: rgb(45, 14, 75) 2px solid;
    } 
}